body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: radial-gradient(circle at 10% 20%, rgba(92, 98, 214, 0.08) 0%, transparent 40%),
        radial-gradient(circle at 90% 80%, rgba(214, 92, 192, 0.08) 0%, transparent 40%);
    background-color: #e8e9ff;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #e8e9ff;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

.navbarlogo {
    height: 40px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: underline;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a.active .nav-links a:hover {
    color: #6c63ff;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    gap: 30px;
}

.about-text h5 {
    color: #5c62d6;
    /* color: #c1e1c1; */
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.about-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.about-text p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.blob-bg {
    position: absolute;
    width: 370px;
    height: 370px;
    filter: blur(40px);
    opacity: 0.4;
    z-index: 1;
}

.blob-purple {
    /* background: #d6b4fc; */
    background: rgba(160, 152, 225, 0.5);
    border-radius: 50%;
    top: 10%;
    right: 10%;
}

.image-frame {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50% 50%/50% 50%;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 5% 3%;
    transform: scale(1);
}

.btn-group {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.btn-primary {
    background-color: #5c62d6;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-secondary {
    background: none;
    border: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.skill-education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.education-card {
    margin: 9.26vh 9.26vw 4.63vh 9.26vw;
    padding: 30px 50px 40px;
    gap: 30px;
    height: 27.78vh;
    width: 20.83vw;
    box-shadow: 0 20px 40px rgba(160, 152, 225, 0.5);
    border: 1px solid #dce0ff;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.education-card:hover {
    transform: translateY(-5px);
}

.education-card h2 {
    margin-bottom: 30px;
    color: #333;
}

.education-card img {
    position: relative;
    width: 100px;
    height: 100px;
}

.edu-sibling1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.edu-sibling1 h4 {
    color: #5c62d6;
}

/* .edu-sibling img { width: 80px; height: auto; } */
.edu-sibling2 p {
    margin-bottom: 2px;
    font-family: sans-serif;
    line-height: 0.5;
    color: #666;
}

.edu-sibling2 h4 {
    font-weight: 600;
    color: #5c62d6;
    margin-top: 5px;
}

.skill-card {
    position: relative;
    margin-left: 4.43vw;
    margin-top: 9.26vh;
    padding: 1.39vh 2.6vw 3.7vh;
    gap: 1.56vw;
    height: 29.17vh;
    width: 21.88vw;
    box-shadow: 0 1.85vh 3.7vh rgba(160, 152, 225, 0.5);
    border: 1px solid #dce0ff;
    border-radius:1.85vh;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card h4 {
    color: #5c62d6;
}

.skill-card div {
    margin-bottom: 10px;
    font-family: sans-serif;
    line-height: 0.7;
    color: #666;
}

.skill-card h2 {
    margin-bottom: 15px;
    color: #333;
    padding-top: 0px;
}

.Project {
        margin: 13vh 5vw 9vh 4.5vw;
        padding: 2vh 2.5vw 4vh;
        gap: 3vh;
        width: 62vw;
        height: 60vh;
        box-shadow: 0 2vh 4vh rgba(160, 152, 225, 0.5);
        border: 0.1vw solid #dce0ff;
        border-radius: 2vw;
        transition: transform 0.3s ease;
    }
    
.Project:hover {
    transform: translateY(-0.5vh);
}

.Project-section h4 {
    color:#5c62d6;
    margin-bottom: 0.5vh;
}

.Project-section p{
    color:#666
}

.Project-section ul{
    color:#666
}

.portfolio-footer {
    padding: 50px 0;
    text-align: center;
    background-color: transparent;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 3vh;
    margin-bottom: 15px;
}

.social-links a {
    color: #333;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-5px);
    color:#0077b5
}

.copyright {
    font-size: 0.8rem;
    color: #888;
    letter-spacing: 1px;
}




@media(min-width: 768px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 60px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .about-text {
        flex: 1;
    }

    .about-visual {
        position: relative;
        width: 450px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .education-card {
        margin: 100px;
        padding: 30px 50px 40px;
        gap: 30px;
        height: 300px;
        width: 400px;
        box-shadow: 0 20px 40px rgba(160, 152, 225, 0.5);
        border: 1px solid #dce0ff;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }

    .education-card:hover {
        transform: translateY(-5px);
    }

    .education-card h2 {
        margin-bottom: 30px;
        color: #333;
    }

    .education-card img {
        position: relative;
        width: 100px;
        height: 100px;
    }

    .edu-sibling1 {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
    }

    .edu-sibling1 h4 {
        color: #5c62d6;
    }

    /* .edu-sibling img { width: 80px; height: auto; } */
    .edu-sibling2 p {
        margin-bottom: 2px;
        font-family: sans-serif;
        line-height: 0.5;
        color: #666;
    }

    .edu-sibling2 h4 {
        font-weight: 600;
        color: #5c62d6;
        margin-top: 5px;
    }

    .skill-education {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .skill-card {
        position: relative;
        margin-left: 0px;
        margin-top: 100px;
        padding: 15px 50px 40px;
        gap: 30px;
        height: 315px;
        width: 420px;
        box-shadow: 0 20px 40px rgba(160, 152, 225, 0.5);
        border: 1px solid #dce0ff;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }

    .skill-card:hover {
        transform: translateY(-5px);
    }

    .skill-card h4 {
        color: #5c62d6;
    }

    .skill-card div {
        /* margin-bottom: 10px; */
        font-family: sans-serif;
        line-height: 0.7;
        color: #666;
    }

    .skill-card h2 {
        margin-bottom: 15px;
        color: #333;
        padding-top: 5px;
    }

    .mid-section {
        display: flex;
    }

    .Project {
        margin: 50px 100px 100px 100px;
        padding: 30px 50px 40px;
        gap: 30px;
        width: 75vw;
        height: 55vh;
        box-shadow: 0 20px 40px rgba(160, 152, 225, 0.5);
        border: 1px solid #dce0ff;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    
    .Project:hover {
        transform: translateY(-5px);
    }

    .Project-section h4 {
        color:#5c62d6;
        margin-bottom: 5px 
    }

    .Project-section p{
        color:#666
    }

    .Project-section ul{
        color:#666
    }
}